body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.franja-decoracion{
    width: 100%;
    height: 20px;
    background-color: #09af00;
}
header {
    background-color: #008b00;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}


.presentacion{
    text-align: center;
    padding: 100px;
}

.banda-productos{
    background-color: #41c300;
    color: #fff;
    text-align: center;
    padding: 30px
}

.lista-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.img-productos {
    width: calc(25% - 20px); 
    margin: 10px; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: #defabb;
    border-radius: 10px;
}

.img-productos:hover{
    background-color: #ef0078;

}

.img-productos img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.seccion{
    width: 100%;
    display: flex;
    align-items: stretch;
}
.mitad-seccion{
    color: #008b00;
    padding: 50px;
    width: 50%;
    text-align: center;
    margin: auto;
}

.banda-servicios{
    background-color: #41c300;
    color: #fff;
    text-align: center;
    padding: 50px;
}

li{
    list-style-type: none;
}


footer{
    background-color: #008b00;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}